
/* font-family: "Calibri"; */
@font-face {
    font-family: "Calibri";
    src: url("../fonts/Calibri/Calibri.eot");
    src: url("../fonts/Calibri/Calibri.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Calibri/Calibri.woff") format("woff"),
    url("../fonts/Calibri/Calibri.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Calibri-Bold";
    src: url("../fonts/Calibri-Bold/Calibri-Bold.eot");
    src: url("../fonts/Calibri-Bold/Calibri-Bold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Calibri-Bold/Calibri-Bold.woff") format("woff"),
    url("../fonts/Calibri-Bold/Calibri-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "PTSansBold" */
@font-face {
    font-family: "PTSansBold";
    src: url("../fonts/PTSansBold/PTSansBold.eot");
    src: url("../fonts/PTSansBold/PTSans-Bold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/PTSansBold/PTSansBold.woff") format("woff"),
    url("../fonts/PTSansBold/PTSansBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "PTSansRegular"; */
@font-face {
    font-family: "PTSansRegular";
    src: url("../fonts/PTSansRegular/PTSansRegular.eot");
    src: url("../fonts/PTSansRegular/PTSansRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/PTSansRegular/PTSansRegular.woff") format("woff"),
    url("../fonts/PTSansRegular/PTSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "PTSans-BoldItalic"; */

@font-face {
    font-family: "PTSans-BoldItalic";
    src: url("../fonts/PTSans-BoldItalic/PTSans-BoldItalic.eot");
    src: url("../fonts/PTSans-BoldItalic/PTSans-BoldItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/PTSans-BoldItalic/PTSans-BoldItalic.woff") format("woff"),
    url("../fonts/PTSans-BoldItalic/PTSans-BoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "PTSansItcalic"; */
@font-face {
    font-family: "PTSansItalic";
    src: url("../fonts/PTSansItalic/PTSansItalic.eot");
    src: url("../fonts/PTSansItalic/PTSansItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/PTSansItalic/PTSansItalic.woff") format("woff"),
    url("../fonts/PTSansItalic/PTSansItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
.top_line {
    box-shadow: 0 4px 2px -2px gray;
    height: 40px;
}
.lang {
    float: right;
    display: inline-block;
    line-height: 40px;
    font-family: "PTSansRegular";
    font-size: 14px;
}
.lang a{
    color:#464646;
    margin: 0 3px;
}
.lang a:nth-child(3n) {
    margin-right: 0px;
}
.lang a:hover{
    text-decoration:underline;
}
.head {
    padding-top: 15px;
    margin-bottom: 20px;
    position: relative;
}
.logo {
    float: left;
    margin-bottom: 28px;
}

.head_tagline {
    font-family: "PTSans-BoldItalic";
    font-size: 14px;
    color: #464646;
    float: left;
    line-height: 19px;
    margin-top: 45px;
    margin-left: 35px;
}
.search {
    float: right;
    margin-top: 6px;
    margin-right: 6px;
    padding: 2px;
    background-color: #fff;
    box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.7);
    position: relative;
    z-index: 9;
    margin-bottom: 15px;
}
.header_buttons {
    float: right;
    position: relative;
    z-index: 88;
}
.buttons {
    padding: 15px 30px;
    float: left;
    background-color: #00ad68;
    margin-right: 17px;
    position: relative;
    color: #fff;
    font-family: "PTSansRegular";
    border-bottom: 3px solid #037246;
}
.buttons:nth-child(2n) {
    margin-right:0px;
}
.search input {
    float: left;
    height: 27px;
    text-indent: 5px;
    outline: none;
    border: none;
    width: 260px;
}
.sub_b {
    float: left;
    height: 28px;
    width: 32px;
}
.sub_b button {
    background-color: #00ad68;
    border: none;
    cursor: pointer;
    width: 35px;
    margin-top: -4px;
    height: 35px;
    outline: none;
    background-image: url(../img/search.png);
    background-repeat: no-repeat;
    background-position: center 8px;
    border: 1px solid #fff;
}
.bg_head {
    position: absolute;
    right: -59px;
    top: 2px;
    z-index: 2;
    background-image: url(../img/head_bg.png);
    width: 312px;
    height: 269px;
    background-size: cover;
    background-repeat: no-repeat;
}
/*menu*/
.menu {
    clear: both;
    border: 1px solid #d7d7d7;
    border-bottom: 1px solid #b7b7b7;
    box-shadow: 0 3px 2px -2px gray;
    height: 42px;
    position: relative;
    z-index: 6;
    background-color: #fff;
}
.menu_list li {
    float: left;
    border-right: 2px solid #ccc;
    font-family: "PTSansRegular";
    color: #5d5d5d;
    font-size: 16px;
    position: relative;
}
.menu_list li a {
    padding: 14px 27px;
    display: block;
    color: #d7d7d7;
}
.menu_list li:hover a {
    background-color: #00ad68;
    padding-bottom: 12px;
    border-bottom: 2px solid #037246;
}
.menu_list li a span {
    float: right;
    margin-top: 8px;
    margin-left: 10px;
}
.menu_list li a span::before {
    position: relative;
    display: block;
    margin: auto;
    content: "";
    float: left;
    width: 10px;
    height: 5px;
    background-image: url(../img/menu_select.png);
    background-repeat: no-repeat;
}
.menu_list li:hover .sub_menu {
    display: block;
}
.sub_menu {
    width: 200px;
    background-color: #fff;
    display: none;
    padding: 10px;
    z-index: 20;
    position: absolute;
    top: 44px;
    border-left: 1px solid #d7d7d7;
    border-right: 1px solid #d7d7d7;
    border-bottom: 3px solid #037246;
}
.menu_list li> .sub_menu li {
    width: 100%;
    border: none;
    margin-bottom: 5px;
}
.menu_list li> .sub_menu li a {
    background-color: #fff;
    border: none;
    padding: 0 10px;
}
.menu_list li> .sub_menu li a:hover {
    text-decoration:underline;
}
/*menu*/
/*soc seti*/
.soc_seti_container {
    display: inline-block;
    line-height: 50px;
    float: right;
}
.soc_seti {
    display: inline-block;
    line-height: 54px;
}
.soc_seti::before {
    position: relative;
    display: block;
    margin: auto;
    content: "";
    float: left;
    width: 18px;
    height: 19px;
    background-image: url(../img/min_sprite.png);
    background-repeat: no-repeat;
    margin-right: 10px;
}
.soc_seti.insta:before {
    background-position: -20px 0px;
}
.soc_seti.twit:before {
    background-position: -40px 0px;
}
/*soc seti end*/
.container {
    position: relative;
    z-index: 9;
}
.left_img {
    position: absolute;
    left: -360px;
    top: 478px;
    z-index: 99;
    background-image: url(../img/left_img.png);
    width: 360px;
    height: 316px;
    background-size: cover;
    background-repeat: no-repeat;
}
.right_img {
    position: absolute;
    right: -360px;
    top: 462px;
    z-index: 99;
    background-image: url(../img/right_img.png);
    width: 360px;
    height: 316px;
    background-size: cover;
    background-repeat: no-repeat;
}
/*content*/
.content {
    width: 62%;
    float: left;
    margin-right: 22px;
}
.title {
    padding: 9px 0px;
    border-top: 2px solid #707070;
    border-bottom: 2px solid #d7d7d7;
    font-family: "PTSansRegular";
    color: #707070;
    margin-bottom: 20px;
    overflow: hidden;
    clear: both;
}

/*news*/
.news_list {
    margin-bottom: 15px;
    overflow: hidden;
}
.news_list_item {
    width: 230px;
    float: left;
    overflow: hidden;
    margin-bottom: 15px;
    margin-right: 27px;
}
.news_list_item:nth-child(3n) {
    margin-right: 0px;
}
.news_list_item_img {
    width: 100%;
    height: 178px;
    overflow: hidden;
}
.news_list_item_date {
    font-family: "PTSansRegular";
    line-height: 34px;
    background-color: #d7d7d7;
    text-indent: 17px;
    font-size: 14px;
    margin-bottom: 15px;
}
.news_list_item_title {
    font-family: "PTSansBold";
    font-size: 14px;
    color: #5f5f5f;
    line-height: 16px;
    padding-bottom: 10px;
}
.news_list_item_title  a:hover:after {
    left: 120%;
    opacity: 1;
    transition: left 0.7s ease-in;
}
.news_list_item_title  a:after {
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #fff;
    position: absolute;
    transition: all 0.7s ease-in;
    opacity: 0;
    border-left: 1px solid #3376BC;
     color: #3376BC;
}
.news_list_item_title a {
    color: #5f5f5f;
    position: relative;
    transition: all 0s ease-in 0.7s;
    display: block;
    overflow: hidden;
    float: left;
}
.news_list_item_title a:hover {
    color: #00AE67;
}
/*news end*/
/*content end*/
/*side bar*/
.side_bar {
    float: right;
    width: 434px;
    overflow: hidden;
}
.side_bar_title {
    line-height: 42px;
    background-color: #00ad68;
    overflow: hidden;
    clear: both;
    text-indent: 20px;
    font-family: "PTSansRegular";
    font-size: 16px;
    color: #fff;
    margin-bottom: 20px;
}
/*side bar news*/
.side_bar_news {
    overflow: hidden;
    margin-bottom: 24px;
}
.side_bar_news_item {
    float: left;
    width: 206px;
    height: 165px;
    overflow: hidden;
    position: relative;
    margin-right: 22px;
    margin-bottom: 22px;
}
.side_bar_news_item:nth-child(2n) {
    margin-right: 0px;
}
.siber_bar_news_item_title {
    position: absolute;
    bottom: 22px;
    left: 0;
    margin: 0 auto;
    right: 0;
    background-color: rgba(0, 0, 0, 0.58);
    width: 163px;
    font-family: "PTSansBold";
    font-size: 14px;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
.side_bar_news_item_big {
    position: relative;
    height: 201px;
    overflow: hidden;
    float: left;
}
.siber_bar_news_item_big_title {
    position: absolute;
    bottom: 22px;
    left: 0;
    margin: 0 auto;
    right: 0;
    background-color: rgba(0, 0, 0, 0.58);
    width: 254px;
    font-family: "PTSansBold";
    font-size: 14px;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
/*side bar news end*/
/*side bar end*/
/*footer*/
.footer {
    clear: both;
    overflow: hidden;
    background-color: #00AD68;
    padding-top: 30px;
    padding-bottom: 50px;
    text-align: center;
    color:#fff;
    font-family:"PTSansRegular";
    font-size:14px;
}

.menu_footer_list li:first-child a {
    margin-left: 0px;
}
.menu_footer_list li a {
    font-family: "PTSansRegular";
    font-size: 16px;
    color: #fff;
    margin: 0 16px;
}

.menu_footer_list li a:hover {
    text-decoration: underline;}
.menu_footer_list li {
    float: left;
    color: #fff;
    line-height: 18px;
}
.menu_footer {
    overflow: hidden;
    margin-bottom: 38px;
}
.menu_footer_list {
    float: left;
}
.soc_seti_container.footers {
    line-height: 0;
}
.soc_seti.footers::before {
    position: relative;
    display: block;
    margin: auto;
    content: "";
    float: left;
    width: 18px;
    height: 19px;
    background-image: url(../img/min_sprite_white.png);
    background-repeat: no-repeat;
    margin-right: 10px;
}
.developed {
    float: left;
    padding-top: 29px;
    width: 209px;
}
.developed a{
    color:#fff;
}
.footer_des {
    float: left;
    text-align: center;
    margin-left: 239px;
}
.footer_des p {
    margin-bottom: 3px;
}
/*footer end*/
/*news 2lvl*/
.news_container {
    padding: 0 28px;
}
.news_second_lvl_img {
    height: 384px;
    overflow: hidden;
}
.news_second_lvl_img img {
    width: 100%;
}
.news_container p {
    font-family: "PTSansRegular";
    color: #464646;
    font-size: 14px;
    text-align: justify;
    line-height: 15px;
    text-indent: 20px;
}
.side_bar_news_second {
    overflow: hidden;
    font-family: "PTSansRegular";
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 20px;
}
.side_bar_news_second_img {
    width: 152px;
    height: 118px;
    overflow: hidden;
    float: left;
    margin-right: 15px;
}
.date_min {
    color: #363636;
    margin-bottom: 10px;
}
.side_bar_news_second_title {
    font-family: "PTSansBold";
    color: #5f5f5f;
    margin-bottom: 10px;
}
.side_bar_news_second_title a {
    color: #5f5f5f;
}
.side_bar_news_des {
    color: #7b7b7b;
}
.side_bar_news_second:last-child {
    margin-bottom: 0px;
}
/*news 2lvl end*/